.cast_title {
	font-size: 34px;
	margin-top: 30px;
	color: rgb(183, 12, 12);
}

.cast_list {
	display: flex;
	flex-wrap: wrap;
	gap: 15px 10px;
	justify-content: center;
}

.cast_item {
	width: 150px;
	border: 1px solid black;
	border-radius: 6px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	padding: 10px;
}

.cast_img {
	width: 150px;
	height: auto;
	border-radius: 6px;
}

.cast_info {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
}
