.container {
	max-width: 100% - 64px;
	margin: 0 auto;
	margin-top: 20px;
}

.movie_list {
	display: flex;
	gap: 30px;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
	padding: 40px 0;
}

.movie_title {
	text-align: center;
	font-size: 34px;
	color: rgb(32, 31, 31);
}
